{% load static %}<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Django + WebSockets = Chat</title>
    <link rel="shortcut icon" href="{% static 'speech-bubble.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- TODO: жирный косяк, как исправить - не придумал =) -->
    <script>var csrf = '{{ csrf_token }}';</script>
    <script>var user = {% if request.user.is_authenticated %}'{{ user.username }}'{% else %}false{% endif %};</script>
    <script>var user_id = {% if request.user.is_authenticated %}'{{ user.pk }}'{% else %}0{% endif %};</script>
</head>
<body>
{% block content %}{% endblock %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>